<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/bin/.phpunit/phpunit.xsd"
    beStrictAboutOutputDuringTests          = "true"
    colors                                  = "true"
    verbose                                 = "true"
    bootstrap                               = "vendor/autoload.php"
>
    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[total]=10&#38;max[self]=0"/>
    </php>

    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src/</directory>
        </whitelist>
    </filter>
</phpunit>
